.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imgAndFrase {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    gap: 15px;
}

.leaves1 {
    max-width: 10vw;
    height: auto;
    margin-bottom: 40px;
}

.leaves2 {
    max-width: 10vw;
    height: auto;
    transform: rotateY(180deg);
    margin-top: 40px;
}

.fraseContainer {
    border: 10px #fff solid;
    /* border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(89.98deg, rgba(113, 78, 6, 0.7) -1.7%, rgba(255, 207, 38, 0.7) 49.2%, rgba(113, 78, 6, 0.7) 98.32%) 1 stretch; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
}

.frase {
    font-size: var(--font-600);
    padding: 20px;
    text-align: center;
}

.imgs {
    display: flex;
}

.imgContainer {
    /* opacity: 0; */
    width: 50%;
}

.img1 {
    max-width: 100%;
    height: auto;
}

.img2 {
    max-width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .imgAndFrase {
        margin-bottom: 50px;
    }
}