.container {
    /* background: linear-gradient(180deg, #FFF5EE 0%, rgba(254, 232, 216, 0) 78.47%); */
    background-color: #FFF5EE;
    scroll-margin-top: 110px;
}

@media (max-width: 950px) {
    .container {
        scroll-margin-top: 80px;
    }
}

@media (max-width: 750px) {
    .container {
        scroll-margin-top: 60px;
    }
}