.container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.waves {
    width: 100%;
    height: auto;
    background-color: #fff;
    transform: rotate(180deg);
    position: absolute;
    top: -2px;
    display: none;
}

.frase {
    color: var(--blue);
    font-size: 45px;
    font-weight: 100;
    line-height: 1em;
    text-align: center;
    position: relative;
}

.frase::before {
    position: absolute;
    content: '';
    top: -40%;
    left: -20%;
    width: 100px;
    height: 100px;
    background-image: url('/images/abreComillas.png');
    background-repeat: no-repeat;
    background-size: contain;
}


.frase::after {
    position: absolute;
    content: '';
    top: 40%;
    right: -20%;
    width: 100px;
    height: 100px;
    background-image: url('/images/cierraComillas.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.lineaContainer {
    max-width: 210px;
    height: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea {
    background: linear-gradient(89.98deg, rgba(113, 78, 6, 0.6) -1.7%, rgba(255, 207, 38, 0.6) 49.2%, rgba(113, 78, 6, 0.6) 98.32%);
    height: 100%;
    border-radius: 200px;
    display: inline-block;
}

.davean {
    max-width: 110px;
    height: auto;
}

@media (max-width: 1400px) {
    .container {
        height: 400px;
    }

    .frase {
        font-size: 45px;
    }

    .frase::before {
        width: 60px;
        height: 60px;
        left: -15%;
    }

    .frase::after {
        width: 60px;
        height: 60px;
        right: -15%;
    }

    .lineaContainer {
        max-width: 180px;
    }

    .davean {
        max-width: 100px;
    }
}

@media (max-width: 950px) {
    .container {
        height: 300px;
        gap: 40px;
    }
    
    .frase {
        font-size: 35px;
    }

    .frase::before {
        width: 40px;
        height: 40px;
        top: -20%;
    }

    .frase::after {
        width: 40px;
        height: 40px;
        top: 20%;
    }

    .lineaContainer {
        max-width: 140px;
        height: 2px;
    }

    .davean {
        max-width: 90px;
    }
}

@media (max-width: 700px) {
    .container {
        height: 250px;
        gap: 30px;
        padding-top: 60px;
    }
    
    .frase {
        font-size: 25px;
    }

    .frase::before {
        top: -180%;
        left: 28%;
    }

    .frase::after {
        top: -160%;
        right: 28%;
    }

    .lineaContainer {
        max-width: 140px;
    }

    .davean {
        max-width: 85px;
    }
}

@media (max-width: 600px) {
    .container {
        padding-top: 40px;
    }

    .waves {
        display: block;
    }
}

@media (max-width: 400px) {
    .container {
        gap: 25px;
        padding-top: 30px;
    }
    
    .frase {
        font-size: 20px;
    }

    .lineaContainer {
        max-width: 100px;
    }

    .davean {
        max-width: 70px;
    }
}