* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --blue: #052E50;
  --green: #00a197;
  --green-transparent: rgba(0, 161, 151, 0.8);

  --adele-font: 'Adele', sans-serif;
  --dk-lemon-font: 'DK Lemon Yellow Sun', sans-serif;
  --modernline-font: 'Modernline', sans-serif;

  --hero-duration: calc(5s * 7);
  --hero-delay: 5s;

  /* --nav-color: var(--blue); */

  scroll-behavior: smooth;
}

body {
  font-family: var(--adele-font);
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

::selection { 
  background: transparent;
}

/* Fonts */

@font-face {
  font-family: 'Modernline';
  src: url('./fonts/modernline-webfont.woff2') format('woff2'),
       url('./fonts/modernline-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'DK Lemon Yellow Sun';
   src: url('./fonts/dk_lemon_yellow_sun-webfont.woff2') format('woff2'),
        url('./fonts/dk_lemon_yellow_sun-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Adele';
   src: url('./fonts/adele-light-webfont-webfont.woff2') format('woff2'),
        url('./fonts/adele-light-webfont-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.absolute {
  display: flex;
  position: absolute;
  z-index: -1;
}

.upLetter {
  animation: letter-up .1s ease-in-out forwards;
}

@keyframes letter-up {
  from {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0px);
  }
}