.container {
  height: 100vh;
  font-family: var(--dk-lemon-font);
  color: #fff;
  position: relative;
  font-size: 50px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heroImg1 {
  width: auto;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../public/images/heroImg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: hero-img var(--hero-duration) ease-in infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.heroImg2 {
  width: auto;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('../public/images/heroImg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: hero-img var(--hero-duration) ease-in infinite;
  animation-delay: calc(var(--hero-delay) * 1);
  opacity: 0;
}

.heroImg3 {
  width: auto;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('../public/images/heroImg3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: hero-img var(--hero-duration) ease-in infinite;
  animation-delay: calc(var(--hero-delay) * 2);
  opacity: 0;
}

.heroImg4 {
  width: auto;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('../public/images/heroImg4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: hero-img var(--hero-duration) ease-in infinite;
  animation-delay: calc(var(--hero-delay) * 3);
  opacity: 0;
}

.heroImg5 {
  width: auto;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('../public/images/heroImg5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: hero-img var(--hero-duration) ease-in infinite;
  animation-delay: calc(var(--hero-delay) * 4);
  opacity: 0;
}

.heroImg6 {
  width: auto;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('../public/images/heroImg6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: hero-img var(--hero-duration) ease-in infinite;
  animation-delay: calc(var(--hero-delay) * 5);
  opacity: 0;
}

.heroImg7 {
  width: auto;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('../public/images/heroImg7.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: hero-img var(--hero-duration) ease-in infinite;
  animation-delay: calc(var(--hero-delay) * 6);
  opacity: 0;
}

@keyframes hero-img {
  from {
      opacity: 0;
      z-index: 1;
      transform: scale(1);
  }

  1% {
      opacity: 1;
  }

  15% {
      opacity: 1;
      z-index: 1;
  }

  16% {
      opacity: 0;
      z-index: 0;
      transform: scale(1.05);
  }
}

.heroTitle {
  position: absolute;
  top: 33vh;
  right: 2vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: all .8s ease-in-out;
}

.mi {
  margin-left: 0;
}

.primera {
  margin-left: 20px;
  line-height: 2.4em;
}

.comunion {
  margin-left: 40px;
  line-height: 2.5em;
}

@media (max-width: 1800px) {
  .heroImg1 {
    background-position: 42% 50%;
  }

  .heroImg2 {
    background-position: 35% 50%;
  }

  .heroImg3 {
    background-position: 40% 50%;
  }

  .heroImg4 {
    background-position: 35% 50%;
  }

  .heroImg5 {
    background-position: 70% 50%;
  }

  .heroImg6 {
    background-position: 45% 50%;
  }

  .heroImg7 {
    background-position: 33% 50%;
  }

  .primera {
    line-height: 2.1em;
  }
  
  .comunion {
    line-height: 2.2em;
  }
}

@media (max-width: 1400px) {
  .primera {
    line-height: 1.7em;
  }
  
  .comunion {
    line-height: 1.8em;
  }
}

@media (max-width: 600px) {
  .container {
    height: 70vh;
  }

  .heroImg1 {
    height: 70vh;
  }

  .heroImg2 {
    height: 70vh;
  }

  .heroImg3 {
    height: 70vh;
  }

  .heroImg4 {
    height: 70vh;
  }

  .heroImg5 {
    height: 70vh;
  }

  .heroImg6 {
    height: 70vh;
  }

  .heroImg7 {
    height: 70vh;
  }

  .heroTitle {
    top: 0;
    right: auto;
    position: relative;
  }

  .mi {
    position: absolute;
    top: 15vh;
    left: 28vw;
  }

  .primera {
    position: absolute;
    top: 15vh;
    left: 36vw;
  }
  
  .comunion {
    position: absolute;
    top: 55vh;
    left: 3vw;
  }
}