.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: all .8s ease-in-out;
  z-index: 3;
}

.imgContainer {
  width: calc(185px + 4vw);
}

.logo {
  width: 55px;
  height: auto;
  background-color: #fff;
  border-radius: 200px;
  margin-left: 4vw;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 40px;
  font-size: 30px;
  color: #fff;
  transition: all .8s ease-in-out;
}

.navigation li {
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navigation .catalogo {
  width: 75px;
  height: 47.2px;
  position: relative;
}

.navigation .catalogo:active {
  transform: scale(.9);
}

.navigation .packs {
  width: 75px;
  height: 47.2px;
  position: relative;
}

.navigation .packs:active {
  transform: scale(.9);
}

.navigation .preguntas {
  width: 131px;
  height: 47.2px;
  position: relative;
}

.navigation .preguntas:active {
  transform: scale(.9);
}

.btn {
  background-color: #fff;
  font-family: var(--dk-lemon-font);
  font-size: 26px;
  color: var(--blue);
  border-radius: 18px;
  padding: 2px 20px;
  margin-right: 4vw;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out .5s;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.25);
  transform: scale(.95);
}

.btn:active {
  transition: none;
  transform: scale(.9);
}

.hamMenu {
  display: none;
  /* z-index: 5; */
  cursor: pointer;
}

.hamMenu:active {
  transform: scale(.9);
}

.topContainer {
  position: fixed;
  top: 5vh;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46vw;
  margin: 0 12vw;
}

.menuTop {
  cursor: pointer;
  display: block;
  width: 35px;
  height: auto;
  color: #fff;
}

.menuTop:active {
  transform: scale(.9);
}

.closeContainer {
  z-index: 5;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 2px rgb(130, 130, 130) solid;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .4s;
}

.close {
  color: #fff;
  width: 30px;
  height: auto;
}

.closeContainer:hover {
  transform: scale(.8);
}

.closeContainer:active {
  transform: scale(.75);
  border: 3px white solid;
  transition: none;
}

.navResponsive {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70%;
  background-color: var(--blue);
  display: none;
  z-index: 4;
  transition: all .6s ease-in-out;
}

.navigationResponsive {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-left: 12vw;
  gap: 100px;
  font-size: 70px;
  color: #fff;
  transition: all .6s ease-in-out;
}

.navigationResponsive li {
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  display: flex;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent; */
  font-family: var(--dk-lemon-font);
  letter-spacing: .1em;
}

.navigationResponsive .catalogo {
  width: 156px;
  height: 86px;
  position: relative;
}

.navigationResponsive .catalogo:active {
  transform: scale(.9);
}

.navigationResponsive .packs {
  width: 156px;
  height: 86px;
  position: relative;
}

.navigationResponsive .packs:active {
  transform: scale(.9);
}

.navigationResponsive .preguntas {
  width: 276px;
  height: 86px;
  position: relative;
}

.navigationResponsive .preguntas:active {
  transform: scale(.9);
}

.logoContainerResponsive {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.logoResponsive {
  width: 80px;
  height: auto;
  background-color: #fff;
  border-radius: 200px;
  cursor: pointer;
}

.logoResponsive:active {
  transform: scale(.9);
}

.socials {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 15px;
}

.social {
  max-width: 30px;
  height: auto;
}

.social:active {
  transform: scale(.9);
}

@media (max-width: 1100px) {
  /* .logo {
    width: 70px;
  } */
  
  .navigation {
    gap: 20px;
    font-size: 28px;
  }

  .btn {
    font-size: 24px;
    padding: 2px 20px;
  }
}

@media (max-width: 950px) {
  .navbar {
    height: 80px;
  }

  .imgContainer {
    display: none;
  }
  
  .navigation {
    display: none;
  }

  .hamMenu {
    display: block;
    width: 35px;
    height: auto;
    margin-left: 4vw;
    color: #fff;
  }

  .navResponsive {
    display: block;
  }

  .btn {
    font-size: 20px;
    padding: 3px 15px;
  }
}

@media (max-width: 750px) {
  .navbar {
    height: 60px;
  }

  .navigationResponsive {
    gap: 60px;
    font-size: 50px;
  }
  
  .navigationResponsive .catalogo {
    width: 180px;
    height: 70px;
  }
  
  .navigationResponsive .packs {
    width: 180px;
    height: 70px;
  }
  
  .navigationResponsive .preguntas {
    width: 180px;
    height: 70px;
  }

  .closeContainer {
    transform: scale(.8);
  }
}

@media (max-width: 500px) {
  .closeContainer {
    transform: scale(.7);
  }

  .navigationResponsive {
    gap: 40px;
    font-size: 40px;
  }
  
  .navigationResponsive .catalogo {
    width: 150px;
    height: 60px;
  }
  
  .navigationResponsive .packs {
    width: 150px;
    height: 60px;
  }
  
  .navigationResponsive .preguntas {
    width: 150px;
    height: 60px;
  }

  .logoContainerResponsive {
    margin-top: 15vh;
  }
  
  .logoResponsive {
    width: 70px;
  }
}

@media screen and (orientation:landscape) {
  .closeContainer {
    width: 50px;
    height: 50px;
  }

  .close {
    width: 25px;
  }

  .navResponsive {
    display: flex;
    align-items: center;
  }

  .logoContainerResponsive {
    margin-top: 0vh;
  }

  .navigationResponsive {
    gap: 40px;
    font-size: 40px;
  }
  
  .navigationResponsive .catalogo {
    width: 150px;
    height: 60px;
  }
  
  .navigationResponsive .packs {
    width: 150px;
    height: 60px;
  }
  
  .navigationResponsive .preguntas {
    width: 150px;
    height: 60px;
  }

  .logoResponsive {
    width: 70px;
  }
}

@media (max-height: 730px) {
  .navigationResponsive {
    gap: 20px;
    font-size: 30px;
  }
  
  .navigationResponsive .catalogo {
    width: 150px;
    height: 60px;
  }
  
  .navigationResponsive .packs {
    width: 150px;
    height: 60px;
  }
  
  .navigationResponsive .preguntas {
    width: 150px;
    height: 60px;
  }

  .logoContainerResponsive {
    margin-top: 10vh;
  }
}