.container {
    min-height: 100vh;
    margin-top: 100px;
    padding-top: 100px;
    background: url('../public/images/preguntasBG.png');
    background-repeat: no-repeat;
    background-position: 10% 200px;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.title {
    color: var(--green);
    font-weight: 100;
    letter-spacing: 0.02em;
    font-size: 55px;
    text-align: center;
}

.preguntasContainer {
    color: var(--blue);
    font-size: 30px;
}

.pregunta {
    border: solid 2px rgba(0, 161, 151, 0.2);
    width: 920px;
    height: 65px;
    border-top: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    /* font-weight: bold; */
    cursor: pointer;
}

.pregunta:hover {
    color: var(--green);
}

.pregunta:first-of-type {
    border: solid 2px rgba(0, 161, 151, 0.2);
}

.pregunta div {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 15px;
}

.pregunta div::before {
    content: '?';
    transform: rotate(180deg);
    
    /* margin-top: 10px; */
    position: absolute;
    top: 5px;
    left: -15px;
}

.arrow {
    width: 35px;
    height: auto;
    /* transition: all .5s ease-in-out; */
}

.respuesta {
    border: solid 2px rgba(0, 161, 151, 0.2);
    width: 920px;
    overflow: hidden;
    border-top: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

@media (max-width: 1400px) {
    .container {
        /* transform: scale(.9); */
        font-size: .9em;
    }
}

/* @media (max-width: 1300px) {
    .container {
        transform: translateY(-50px) scale(.9);
    }
} */

@media (max-width: 1100px) {
    /* .container {
        transform: translateY(-0px) scale(.8);
        margin-top: 30px;
    } */

    .pregunta {
        width: 90vw;
        font-size: .8em;
    }

    .respuesta {
        width: 90vw;
        font-size: .8em;
    }

    .pregunta div {
        margin-left: 10px;
    }
    
    .pregunta div::before {
        left: -10px;
    }
}

@media (max-width: 800px) {
    .container {
        /* transform: translateY(-110px) scale(.75);
        margin-top: 0px; */
        gap: 40px;
    }

    .pregunta {
        font-size: .7em;
        padding: 20px 20px;
    }

    .respuesta {
        font-size: .7em;
        padding: 20px 30px;
    }

    .title {
        font-size: 40px;
    }
}

@media (max-width: 769px) {
    /* .pregunta {
        width: 620px;
    }

    .respuesta {
        width: 620px;
        padding: 0 30px;
    } */
}

@media (max-width: 600px) {
    /* .container {
        transform: translateY(-340px) scale(.7);
        margin-top: 0px;
        padding-top: 0px;
    } */
}
